<form action="">
  <h2>新建项目</h2>
  <div mat-dialog-content class="box">
    <mat-form-field class="full-filled">
      <input matInput  type="text" placeholder="Project Name" >
    </mat-form-field>
    <br>
    <mat-form-field class="full-filled">
      <input matInput  type="text" placeholder="Project Description" >
    </mat-form-field>
  </div>
  <div mat-dialog-actions="">
    <button type="button" mat-raised-button="" color="primary" (click)="onClick()">Save</button>
    <button type="button" mat-button="" mat-dialog-close="">Close</button>
  </div>
</form>
